@import "tailwindcss";

body{
  background-color:#050816;
  background: url(../public/herobg.png);
   background-size: cover;        
  background-position: center; 
  background-repeat: no-repeat;  
  background-attachment: fixed; 
  width: full;
  min-height: screen;
  height: auto;
}

